<div>
  <div style='font-family: Helvetica; margin:0!important;padding:0!important;background-color:#f8f9fa'>
    <table style='width:100%' cellspacing='0' cellpadding='0'>
      <tbody>
        <tr>
          <td align='center'>
            <table style='width:100%;min-width:600px;max-width:800px; margin-top: 20px;' cellspacing='0'
              cellpadding='0'>
              <tbody>
                <tr>
                  <td>
                    <a href='https://eticket.ubtz.mn' target='_blank'>
                      <span style='display:block'>
                        <img style='display:block;width:100%'
                          src='https://eticket.ubtz.mn/images/cover_s.png' alt='' />
                      </span>
                    </a>
                  </td>
                </tr>
                <tr style='background-color:#ffffff'>
                  <td style='padding-left:80px;padding-right:80px'>
                    <table style='width:100%;border-top:1px solid #dfe3e7' cellspacing='0' cellpadding='0'>
                      <tbody>
                        <tr>
                          <td style='width:100%'></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style='background-color:#ffffff'>
                  <td
                    style='padding-left:80px;padding-right:80px;padding-top:48px;padding-bottom:24px;font-style:normal;font-weight:500;font-size:18px;line-height:22px;color:#000000'>
                    Сайн байна уу
                    <a href='mailto:{{email}}' target='_blank'>{{name}}</a>,
                  </td>
                </tr>
                <tr style='background-color:#ffffff'>
                  <td
                    style='padding-left:80px;padding-right:80px;padding-top:8px;padding-bottom:8px;font-style:normal;font-weight:normal;font-size:16px;line-height:19px;color:#3f4144'>
                    Таны баталгаажуулах код:</td>
                </tr>
                <tr style='background-color:#ffffff'>
                  <td
                    style='padding-left:100px;padding-right:80px;padding-top:16px;padding-bottom:16px;font-style:normal;font-weight:600;font-size:32px;line-height:36px;color:#000000'>
                    {{code}} </td>
                </tr>
                <tr style='background-color:#ffffff'>
                  <td
                    style='padding-left:80px;padding-right:80px;padding-top:8px;padding-bottom:8px;font-style:normal;font-weight:normal;font-size:16px;line-height:19px;color:#3f4144'>
                    Баталгаажуулах код нь 15 минутын турш хүчинтэй.</td>
                </tr>
                <tr style='background-color:#ffffff'>
                  <td
                    style='padding-left:80px;padding-right:80px;padding-top:8px;padding-bottom:24px;font-style:normal;font-weight:normal;font-size:16px;line-height:19px;color:#3f4144'>
                    Хэрвээ та энэ үйлдэлийг хийгээгүй бол нууц үгээ солин, бидэнд
                    <a style='font-weight:500;color:#31bdf9;text-decoration:underline' href='https://eticket.ubtz.mn'
                      target='_blank'>мэдэгдээрэй</a>.
                  </td>
                </tr>
                <tr style='background-color:#ffffff'>
                  <td
                    style='padding-left:80px;padding-right:80px;padding-top:8px;padding-bottom:36px;font-style:normal;font-weight:500;font-size:18px;line-height:19px;color:#3f4144'>
                    Eticket.UBTZ.MN</td>
                </tr>
                <tr style='background-color:#ffffff'>
                  <td style='padding-left:80px;padding-right:80px'>
                    <table style='width:100%;border-top:1px solid #dfe3e7' cellspacing='0' cellpadding='0'>
                      <tbody>
                        <tr>
                          <td style='width:100%'></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style='background-color:#ffffff'>
                  <td style='padding-left:80px;padding-right:80px;padding-top:36px;padding-bottom:36px'>
                    <table style='width:100%' cellspacing='0' cellpadding='0'>
                      <tbody>
                        <tr>
                          <td style='font-size:14px;line-height:1.5' width='20%'>Country:</td>
                          <td style='font-size:14px;line-height:1.5;font-weight:550;color:#000000' width='80%'> Mongolia
                          </td>
                        </tr>
                        <tr>
                          <td style='font-size:14px;line-height:1.5' width='20%'> Time:</td>
                          <td style='font-size:14px;line-height:1.5;font-weight:550;color:#000000' width='80%'> {{date}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table style='width:100%;min-width:600px;max-width:800px;' cellspacing='0' cellpadding='0'>
                      <tbody>
                        <tr>
                          <td
                            style='padding-top:24px;padding-bottom:20px;font-size:12px;line-height:15px;font-weight:normal;color:#000000'
                            align='center'>
                            Copyright © 2022
                            <a style='font-weight:400;color:#31bdf9;text-decoration:none' href='https://eticket.ubtz.mn'
                              target='_blank'>
                              UBTZ</a>. All rights reserved.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>